/* CSS Document */
/*
	*@Description: 云南大学法学院
	*@Author:吕尉
	*@Weibo:http://weibo.com/smlw
*/
html,body, div, p, span, input, select, textarea, td, th, h1, h2, h3, h4, h5, h6 {
	font-family: 'Microsoft Yahei', '微软雅黑', SimHei, Simsun;
}
* {
	font-family: 'Microsoft Yahei', '微软雅黑', SimHei, Simsun;
}
a{
  text-decoration: none;
}
.elements{
  padding: 0;
  margin: 0;
  font-size: 15px;
	background: #f1f1f1;
}
.container{
	background: #fff;
}
.column{
  padding: 0;
  margin: 0;
}
.top-img{
  padding: 8px;
}
.more{
  float: right;
  position: relative;
  font-size: 18px;
  top: -30px;
}
.top-con{
	background: #fff url(img/top.png) no-repeat;
  background-position:center;
}
#search{
  float:right;
  background:#ffffff;
  border:#f1f1f1 1px solid; border-radius:3px;
  height:28px;
  margin-top:12%;
  margin-bottom: 2%;
  margin-right: 8%;
  -webkit-transition:color .3s linear,background-color .3s linear;
  transition:color .3s linear,background-color .3s linear;
}
#searchtext,#bdcsMain{
  display:inline-block;
  width:130px;
  height:28px;
  line-height:28px;
  padding: 7px 4px;
  border:none;
  background: #ffffff;
	float:left;
}
#searchtext:focus, #bdcsMain:focus{
  outline: 0;
}
#search:hover{
  border-color:#ccc;
}
#searchtext-btn{
  display: inline-block;
  width:25px;
  background:url(img/icons.png) no-repeat 3px 7px;
  text-indent:-9999px;
  border:none;
  display:block;
  float:left;
  height:28px;
  cursor:pointer;
  overflow: hidden;
  background-color: transparent;
  padding:0; margin:0;
}
.site_lang{
  margin-right: 4%;
  float: right;
}
.site_lang a{
  color: #000;
}
.site_lang a:hover{
  color: #00518f;
}
.conleft h6,.conmid h6,.conright h6{
  color: #00518f;
}
.menu_list{
  width:100%;
  margin:0 auto;
}
.menu_head{
	height: 47px;
	line-height: 47px;
	padding-left: 38px;
	font-size: 14px;
	color: #525252;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #F1F1F1;
	position: relative;
	margin: 0px;
	font-weight: bold;
	background: #f1f1f1;
}
.menu_list .current{
  background:#f1f1f1;
  }
.menu_body{
	line-height: 38px;
	border-left: 1px solid #e1e1e1;
	background: #fff;
	border-right: 1px solid #e1e1e1;
}
.menu_body a{
  display:block;
  height:38px;
  line-height:38px;
  padding-left:38px;
  color:#777777;
  background:#fff;
  text-decoration:none;
  border-bottom:1px solid #e1e1e1;
}
.menu_body a:hover{
  text-decoration:none;
  color:#f1f1f1;
	background: #00518f;
}
#firstpane{
	margin-top: 2%;
	z-index: 1;
}
.con-list{
	padding: 4px;
}
.more a{
  color: #00518f;
  font-size: 14px;
}
.more a:hover{
  color: #F5B800;
}
.alt a{
  color: #000;
}
.alt a:hover{
  color: #00518f;
}
.articlelist{
	padding: 6px;
}
.articlelist a{
  color: #000;
}
.articlelist a:hover{
  color: #00518f;
}
.articlelist span{
	float: right;
}
.page-nav {
  width:100%;
  height:30px;
	margin-top: -3%;
  text-align: center;
}
.page-nav a{
  color: #525252;
}
.page-nav a:hover{
  color: #F5B800;
}
.footcon{
  background: #00518f;
  color: #f1f1f1;
}
.qrcode.col_4.column {
  float: right;
  background:#00518f;
}
.qrcode{
  display: block;
  margin-top: 10px;
  padding: 32px;
}
.qrcode img{
  margin-left: 10px;
}
.frlink{
  background: #00518f;
  padding: 15px;
  color: #f1f1f1;
}
.frlink li{
  list-style: none;
  width: 25%;
  float: left;
  padding: 5px;
}
.frlink li a{
  color: #f1f1f1;
}
.frlink li a:hover{
  color: #F5B800;
}
.foot{
  background: #00518f;
  padding: 15px;
  color: #f1f1f1;
}
.foot p{
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}
