

<body class="elements">
  <div class="grid flex">
    <div class="top-con col_12 column">
      <div class="top col_8 column">
        <!-- 院徽 -->
        <img class="top-img align-left" src="img/logo.png" />
      </div>
      <div class="toptool col_4 column clearfix">
        <div id="search">
          <form name="dataForm"  action="/cms/search/searchResults.jsp" target="_blank" method="post">
						<input name="siteID" size="4" value="$curChannel.site.ID" type="hidden">
						<input type="text" class="filled" value="" id="bdcsMain" name="query">
						<input name="" type="submit" value="" id="searchtext-btn">
					</form>
        </div>
        <div class="site_lang"><a href="$cms.getUrl("网站地图")">站点地图</a>  |  <a href="$cms.getUrl("首页")">中文版</a>  |  <a href="http://www.law.ynu.edu.cn/english">English</a></div>
      </div>
    </div>
  <div class="container col_12 column">
    <!-- 菜单 -->
    <ul class="menu">
       <li><a href="$cms.getUrl($rootChannel)">首页</a>
       #foreach($channel in $cms.getTopChildren($rootChannel))
	    <li><a href="$cms.getUrl($channel)">$channel.title</a>
               <ul>
               #foreach($channel in $cms.getChildren("$channel.title"))
	       <li><a href="$cms.getUrl($channel)">$channel.title</a></li>
	       #end
                </ul>
            </li>
       #end
    </ul>